export(siland)
export(plotsiland)
export(plotcontri)
import(graphics)
import(stats)
import(lme4)
import(sp)
import(rgdal)
import(raster)
importFrom("grDevices", "grey", "rainbow")


S3method(print, siland)
S3method(summary, siland)
export(summary.siland)
export(print.siland)



